@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This application is built for the purpose of a demo project. <strong>Sales of Car through an Online System</strong></p>


<img src="~/Car_Images/asif.PNG"  alt="" /><br />

<label>Author of this Application:</label>&nbsp;&nbsp;Asif Javed