
@{
    ViewBag.Title = "thanks";
}

<h2>Thanks</h2>

<div>
    You have submitted:<br />
    Firstname: @ViewData["name"]<br />
    Email: @ViewData["email"]<br />
</div>

<p>
    Your Enquiry has been submitted to the online System.
    We would be touch base with you soon!
</p>

